body{
	background-color: BurlyWood;
	 font-family: "Open Sans",  Impact;
}
.header{
    min-width: 90%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    }

.auf{ 
  border: none; 
  background: Chocolate; 
  color: #f3ecec !important; 
  font-weight: 150; 
  padding: 25px; 
  text-transform: uppercase; 
  border-radius: 3px; 
  display: inline-block; 
  text-decoration: none; 
} 
 .border {
    border: 5px solid black;
   }

.auf:hover { 
color: black !important; 
font-weight: 680 !important; 
letter-spacing: 4px; 
background: none; 
-webkit-box-shadow: 0px 5px 36px -10px rgba(29, 28, 28, 0.68); 
-moz-box-shadow: 0px 5px 36px -10px rgba(29, 28, 28, 0.68); 
transition: all 0.5s ease 0s; 
}
.logo{
	font-size: 20px;
    margin-top: -85px;
   padding-left: 900px;
   padding-bottom: px;
   font-family: 'Lacquer', sans-serif;
}
.footer__bla{
    width: 100%;
    padding-top: 140px;
    background-image: url(побвал.jpg);
    background-position: top;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__text{
    color:white;
    margin-top: -50px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo {
  text-align: center;
  font-size: 23px;
  color: black;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .55s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 8px #fff;
}
@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 1px #fff, 
      0px 0px 2px #fff,
      0px 0px 2px #fff,
      0px 0px 5px #fff,
      0px 0px 10px #fff,
      0px 0px 15px #fff,
      0px 0px 2px #fff,
      0px 0px 5px #fff,
      0px 0px 5px #fff,
      0px 0px 20px Maroon,
      0px 0px 15px Maroon,
      0px 10px 10px Maroon,
      0px 10px 10px red,
      0px 10px 10px red,
      0px 10px 10px red,
      0px -10px 10px Maroon,
      0px -10px 30px #7B96B8;
  }
}
.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.shut:hover {
  border: 5px solid black
}
.circle:hover {
  border-radius: 70%;
}

